<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<app-list-quizzes-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[4,8,12]" [itemsPerPage]="itemsPerPage" [selectAllState]="selectAllState"
  (changeDisplayMode)="changeDisplayMode($event)"
  (addNewItem)="showAddNewModal()"
  (selectAllChange)="selectAllChange($event)"
  (searchKeyUp)="doFiltering($event)"
>
</app-list-quizzes-page-header>
<app-add-new-quiz-modal #addNewModalRef></app-add-new-quiz-modal>

<app-modal-confirm #alertModalRef></app-modal-confirm>

<app-user-choice #userChoiceRef></app-user-choice>



<context-menu #basicMenu>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('launch',$event.item)">
    <i class="simple-icon-control-play mr-1"></i> <span>Lancer ce Quiz</span>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('edit',$event.item)">
    <i class="simple-icon-drawer mr-1"></i> <span>Gerer les questions</span>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">
    <i class="simple-icon-trash mr-1"></i><span>Supprimer ce Quiz</span>
  </ng-template>
</context-menu>

<div class="row">

  <div class="col-12 list" *ngIf="displayMode==='list'">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of data; let i=index"
    [contextMenu]="basicMenu" [contextMenuSubject]="p">
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <div class="list-item-heading mb-0 truncate w-40 w-xs-100">
            {{p.name}} <p>{{p.description}}</p>
          </div>

          <div class="w-15 w-sm-100">
          <span [class]="'badge badge-pill badge-'+p.themeColor">{{p.theme}}</span>
        </div>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.date | date:'shortDate'}}</p>
          <div class="w-15 w-xs-100">
              <a href="javascript:;" (click)="launchQuiz(p)">
                <i class="simple-icon-control-play ml-2 mr-2"></i> <span>Lancer</span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 list" *ngIf="displayMode==='thumb'">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of data; let i=index"
    [contextMenu]="basicMenu" [contextMenuSubject]="p">
      <div class="d-flex">
        <img [src]="p.img" [alt]="p.name" class="list-thumbnail responsive border-0 card-img-left" />
      </div>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
          <div class="w-40 w-sm-100">
            <p class="list-item-heading mb-0 truncate">{{p.name}}</p>
          </div>
          <div class="w-15 w-sm-100">
            <span [class]="'badge badge-pill badge-'+p.themeColor">{{p.theme}}</span>
          </div>
          <p class="mb-0 text-muted text-small w-15 w-sm-100">{{p.date | date:'shortDate'}}</p>
          <div class="w-15 w-sm-100">
            <a href="javascript:;" (click)="launchQuiz(p)">
              <i class="simple-icon-control-play ml-2 mr-2"></i> <span>Lancer</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 list" *ngIf="displayMode==='image'">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of data; let i=index"
      [contextMenu]="basicMenu" [contextMenuSubject]="p">
        <div [ngClass]="{'card': true, 'active':isSelected(p)}">
          <div class="position-relative">
            <div><img class="card-img-top" [src]="p.img" [alt]="p.name"></div>
            <span [class]="'badge badge-pill position-absolute badge-top-left badge-'+ p.themeColor">{{p.theme}}</span>
          </div>
          <div class="card-body">
              <div class="row">
              <div class="col-2">
                <div style="margin-top: 5px; ">
                  <div>
                    <i class="simple-icon-menu ml-2 mr-2"></i>
                  </div>
                </div>
                <div style="margin-top: 16px; ">
                  <a href="javascript:;">
                  <i class="simple-icon-control-play ml-2 mr-2" (click)="launchQuiz(p)"></i>
                  </a>
                </div>
              </div>
              <div class="col-10">
                <div href="javascript:;">
                  <p class="list-item-heading mb-2 pt-1">{{p.name}}</p>
                </div>
                <a href="javascript:;">
                   <p class="list-item-heading mt-1 pt-1" (click)="launchQuiz(p)">Lancer</p>
                </a>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">{{p.date | date:'shortDate'}}</p>
                </footer>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
