<app-list-questions-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[4,8,12]" [itemsPerPage]="itemsPerPage" [selectAllState]="selectAllState"
  (changeDisplayMode)="changeDisplayMode($event)"
  (addNewItem)="showAddNewModal()"
  (selectAllChange)="selectAllChange($event)"
  >
</app-list-questions-page-header>
<app-add-new-question-modal #addNewModalRef [quiz]="quiz"></app-add-new-question-modal>

<context-menu #basicMenu>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('edit',$event.item)">
    <i class="simple-icon-drawer mr-1"></i> <span>Gerer cette Question</span>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">
    <i class="simple-icon-trash mr-1"></i><span>Supprimer cette Question</span>
  </ng-template>
</context-menu>

<div class="row">

  <div class="col-12 list" *ngIf="displayMode==='list'">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of data; let i=index"
    [contextMenu]="basicMenu" [contextMenuSubject]="p">
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="javascript:;">
            {{p.label}} <p> Quiz : {{this.quiz.name}}</p>
          </a>

          <div class="w-15 w-sm-100">
          <span [class]="'badge badge-pill badge-'+this.quiz.themeColor">{{this.quiz.theme}}</span>
        </div>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.date}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 list" *ngIf="displayMode==='thumb'">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of data; let i=index"
    [contextMenu]="basicMenu" [contextMenuSubject]="p">
      <a class="d-flex" href="javascript:;" *ngIf="p.img !== 'none'">
        <img [src]="p.img" [alt]="p.label" class="list-thumbnail responsive border-0 card-img-left" />
      </a>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
          <a href="javascript:;" class="w-40 w-sm-100">
            <p class="list-item-heading mb-0 truncate">{{p.label}}</p>
          </a>
          <div class="w-15 w-sm-100">
            <span [class]="'badge badge-pill badge-'+this.quiz.themeColor">{{this.quiz.theme}}</span>
          </div>
          <p class="mb-0 text-muted text-small w-15 w-sm-100">{{p.date}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 list" *ngIf="displayMode==='image'">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of data; let i=index"
      [contextMenu]="basicMenu" [contextMenuSubject]="p">
        <div [ngClass]="{'card': true, 'active':isSelected(p)}">
          <div class="position-relative">
            <a href="javascript:;" *ngIf="p.img !== 'none'"><img class="card-img-top" [src]="p.img" [alt]="p.label"></a>
            <br *ngIf="p.img === 'none'">
            <span [class]="'badge badge-pill position-absolute badge-top-left badge-'+ this.quiz.themeColor">{{this.quiz.theme}}</span>
          </div>
          <div class="card-body">
              <div class="row">
              <div class="col-2">

              </div>
              <div class="col-10">
                <a href="javascript:;">
                  <p class="list-item-heading mb-2 pt-1">{{p.label}}</p>
                </a>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">{{p.date}}</p>
                </footer>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
