<ng-template #template>
  <form [formGroup]="answerForm">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.add-new-answer-title' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Fermer" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <label>{{ 'pages.question-label' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="value" [formControlName]="'value'">
        </div>
      <br>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-toggle="toggle" id="isCorrect" [formControlName]="'isCorrect'">
          Reponse correcte
        </label>
      </div>
      <div class="mt-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{'input-groups.upload' | translate}}</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="img" [formControlName]="'img'" (change)="onFileSelected($event)">
          <label class="custom-file-label" for="img">{{'input-groups.choose-file' | translate}}</label>
        </div>
      </div>
      </div>
        <div class="mt-4">
            <label>{{ 'pages.indice' | translate }}</label>
            <textarea class="form-control" rows="3" id="indixe" [formControlName]="'indixe'"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right" (click)="addAnswer()">{{ 'pages.submit' | translate}}</button>
    </div>
  </form>
</ng-template>
