<div id="root">
  <div class="fixed-background1">
    <main>
      <div class="container">
        <div class="row h-100">
          <div class="col-12 col-md-10 mx-auto my-auto">
            <div class="card auth-card" style="opacity: 90%">
              <div class="jumbotron">
                <h1 class="display-4">Toutes nos félicitations !!!</h1>
                <p class="lead">Merci d'avoir effectué ce quiz jusqu'a la fin. Nous espérons que cela vous a aider.</p>
                <hr class="my-4">
                <p>Maintenant vous avez maintenant deux possibilités  : </p>
                <a class="btn btn-primary btn-lg" (click)="replay()" role="button" style="margin-right: 30px">Recommencez ce quiz</a>
                <a class="btn btn-success btn-lg" (click)="finir()" role="button">Demarrer un autre quiz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
