<app-list-answers-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[4]" [itemsPerPage]="itemsPerPage" [selectAllState]="selectAllState"
                      (changeDisplayMode)="changeDisplayMode($event)"
                      (addNewItem)="showAddNewModal()"
                      (selectAllChange)="selectAllChange($event)"
                      (itemsPerPageChange)="itemsPerPageChange($event)"
                      (changeOrderBy)="changeOrderBy($event)"
                      (searchKeyUp)="searchKeyUp($event)"
>
</app-list-answers-page-header>
<app-modal-add #addAlertModal></app-modal-add>
<app-add-new-answer-modal #addNewModalRef [question]="data"></app-add-new-answer-modal>

<context-menu #basicMenu>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick($event.item)">
    <i class="simple-icon-trash mr-1"></i><span>Supprimer</span>
  </ng-template>
</context-menu>

<div class="row">

  <div class="col-12 list" *ngIf="displayMode==='list'">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(ans)}" *ngFor="let ans of data; let i=index"
         [contextMenu]="basicMenu" [contextMenuSubject]="ans">
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <a class="list-item-heading mb-0 truncate w-20 w-xs-100" href="javascript:;">
            {{ans.value}}
          </a>
          <p class="mb-0 "> Indice : {{ans.indixe}}</p>
          <div class="w-15 w-sm-100" *ngIf="!ans.isCorrect">
            <span [class]="'badge badge-pill badge-danger'">INCORRECT</span>
          </div>
          <div class="w-15 w-sm-100" *ngIf="ans.isCorrect">
            <span [class]="'badge badge-pill badge-success'">CORRECT</span>
          </div>
        </div>
        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
          <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i">
          <label class="custom-control-label" [for]="'customCheck'+i"></label>
        </label>
      </div>
    </div>
  </div>

  <div class="col-12 list" *ngIf="displayMode==='thumb'">
    <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(ans)}" *ngFor="let ans of data; let i=index"
         [contextMenu]="basicMenu" [contextMenuSubject]="ans">
      <a class="d-flex" href="javascript:;" *ngIf="ans.img !== 'none'">
        <img [src]="ans.img" [alt]="ans.value" class="list-thumbnail responsive border-0 card-img-left" />
      </a>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
          <a href="javascript:;" class="w-40 w-sm-100">
            <p class="list-item-heading mb-0 truncate">{{ans.value}}</p>
          </a>

          <p class="mb-0 text-muted text-small w-15 w-sm-100">{{ans.type}}</p>
          <div class="w-15 w-sm-100" *ngIf="!ans.isCorrect">
            <span [class]="'badge badge-pill badge-danger'">INCORRECT</span>
          </div>
          <div class="w-15 w-sm-100" *ngIf="ans.isCorrect">
            <span [class]="'badge badge-pill badge-success'">CORRECT</span>
          </div>
        </div>
        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
          <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(ans)"
                 (change)="onSelect(ans)">
          <label class="custom-control-label" [for]="'customCheck'+i"></label>
        </label>
      </div>
    </div>
  </div>

  <div class="col-12 list" *ngIf="displayMode==='image'">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of data; let i=index"
           [contextMenu]="basicMenu" [contextMenuSubject]="p">
        <div [ngClass]="{'card': true, 'active':isSelected(p)}">
          <div class="position-relative">
            <a href="javascript:;" *ngIf="p.img !== 'none'"><img class="card-img-top" [src]="p.img" [alt]="p.value"></a>
            <br *ngIf="p.img === 'none'">
            <span [class]="'badge badge-pill position-absolute badge-top-left badge-danger'" *ngIf="!p.isCorrect">INCORRECT</span>
            <span [class]="'badge badge-pill position-absolute badge-top-left badge-success'" *ngIf="p.isCorrect">CORRECT</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="custom-control custom-checkbox pl-1">
                  <label class="custom-control custom-checkbox  mb-0">
                    <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(p)"
                           (change)="onSelect(p)">
                    <label class="custom-control-label" [for]="'customCheck'+i"></label>
                  </label>
                </div>

              </div>
              <div class="col-10">
                <a href="javascript:;">
                  <p class="list-item-heading mb-2 pt-1">{{p.value}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
